@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #212121;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

main > .container {
  max-width: 78rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.has-cover-img {
  position: relative;

  &::before {
    position: absolute;
    z-index: 2;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  & > img {
    z-index: 1;
  }

  & > * {
    position: relative;
    z-index: 9;
    text-shadow: 1px 1px 1px rgba(40, 40, 40, 0.6);
  }
}

h1 {
  @apply text-3xl mb-4 font-bold;
}

h2 {
  @apply text-2xl mb-4 uppercase font-bold tracking-wider;
}

h3 {
  @apply text-xl mb-4 uppercase font-bold tracking-wider;
}

p {
  @apply mb-4;
}

a {
  @apply text-blue-800;
}

a:focus,
a:hover {
  @apply text-blue-600;
}

/* Header */

.app-header {
  .main-nav {
    a {
      padding: 6px 0px;
      text-decoration: none;
      color: var(--text-color);
      font-weight: 500;
    }

    a:hover {
      border-bottom: 3px solid #006dc7;
    }

    a:active,
    a:focus {
      color: #444;
    }
  }
}
