@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1 {
  @apply text-3xl mb-4 font-bold;
}

h2 {
  @apply text-2xl mb-4 uppercase font-bold tracking-wider;
}

h3 {
  @apply text-xl mb-4 uppercase font-bold tracking-wider;
}

p {
  @apply mb-4;
}

a {
  @apply text-blue-800;
}

a:focus,
a:hover {
  @apply text-blue-600;
}
